$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import '../styles/variables.scss';


#app-header, #app-footer {
    background-color: $alizarin;
    width: 100%;
    color: white;
    text-align: center;
}

#app-header {
    height: 40px;
    #header-title {
        display: inline-block;
        font-size: 17px;
    }

    #header-list button, #header-search button {
        background: transparent;
        color: white;
        border: transparent;
        display: inline-block;
        float: left;
        padding: 11px;
    }

    #header-search {
        float: right;
    }

    #header-title {
        padding: 10px;
    }
}

#app-footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    #footer-credits {
        padding: 20px;
        display: block;
    }
}

#poke-nav-pills {
    padding: 10px;
    ul {
        margin: 0 auto;
        display: block;
        width: 100%;
        font-size: 14px;
        border: 1px solid $alizarin;
        border-radius: 6px;
        overflow: hidden;
        li {
            margin: 0px;
            padding: 0px;
            text-align: center;
            border-left: 1px solid $alizarin;
            a {
                margin: 0px;
                border-radius: 0px;
                color: $alizarin;
                background-color: transparent;
            }
        }

        .active {
            a {
                background-color: $alizarin;
                color: white;
            }
        }

        .small-pill {
            width: 20%;
        }

        .big-pill {
            width: 30%;
        }

        .first-pill {
            border: none;
        }
    }
}