$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import '../styles/variables.scss';

#app-header {
    background-color: $alizarin;
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;

    #header-title {
        display: inline-block;
        
    }
    #header-list button, #header-search button {
        background: transparent;
        color: white;
        border: transparent;
        display: inline-block;
        float: left;
        padding: 11px;
    }

    #header-search {
        float: right;
    }

    #header-title {
        padding: 10px;
    }
}