#pokemon-img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 60px;
    border: 3px solid $alizarin;
    overflow: hidden;
}


#poke-nav-pills {
    padding: 10px;
    ul {
        margin: 0 auto;
        display: block;
        width: 100%;
        font-size: 14px;
        border: 1px solid $alizarin;
        border-radius: 6px;
        overflow: hidden;
        li {
            margin: 0px;
            padding: 0px;
            text-align: center;
            border-left: 1px solid $alizarin;
            a {
                margin: 0px;
                border-radius: 0px;
                color: $alizarin;
                background-color: transparent;
            }
        }

        .active {
            a {
                background-color: $alizarin;
                color: white;
            }
        }

        .small-pill {
            width: 20%;
        }

        .big-pill {
            width: 30%;
        }

        .first-pill {
            border: none;
        }
    }
}

#pokemon-info {
    #pokemon-pic, #pokemon-desc {
        height: 110px;
    }
    #pokemon-extras {
        text-align: center;
        border-bottom: 1px solid $silver;
        margin-top: 5px;
        .title {
            font-weight: bold;
            font-size: 17px;
            color: $alizarin;
            display: block;
        }
        .value {
            font-size: 14px;
            display: block;
            margin-bottom: 4px;
        }
    }
    .pokemon-misc {
        div {
            margin-top: 13px;
            font-size: 15px;
        }
        .title {
            color: $alizarin;
        }
    }
}

#evolutions-section-container {
    #evol-row {
        height: 30px;
        background-color: $alizarin;
        padding: 3px;
        padding-left: 13px;
        color: white;
        font-size: 16px;
        margin: 10px 0px;
    }
    #evolutions {
        height: 100px;
        width: 260px;
        margin: 0 auto; 
    }

    .levelLabelCont, img {
        width: 100px;
        height: 100px;
        display: inline-block;
        float: left;
    }

    .levelLabelCont {
        width: 60px;
        color: $alizarin;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        .levelLabel {
            margin-top: 28px;
        }
        span {
            display: block;
        }
    }
}
