<div id="pokemon-info" class="row">
	<div class="row">
		<div id="pokemon-pic" class="col-xs-4">
			pokemon pic
		</div>
		<div id="pokemon-desc" class="col-xs-8">
			A strange seed was planted on its back at birth. The plant sprouts and grows with this Pokémon.
		</div>
	</div>

	<div id="pokemon-extras" class="row">
		<div class="col-xs-3">
			<span class="title">ID</span>
			<span class="value">1</span>
		</div>
		<div class="col-xs-3">
			<span class="title">ATTK</span>
			<span class="value">70</span>
		</div>
		<div class="col-xs-3">
			<span class="title">DEF</span>
			<span class="value">51</span>
		</div>
		<div class="col-xs-3">
			<span class="title">SPD</span>
			<span class="value">78</span>
		</div>
	</div>

	<div class="pokemon-misc row">
		<div class="col-xs-6">
			<span class="title">Height:</span> <span class="value">5'09"</span>
		</div>
		<div class="col-xs-6">
			<span class="title">Type:</span> <span class="value">Fire/Flying</span>
		</div>
	</div>

	<div class="pokemon-misc row">
		<div class="col-xs-6">
			<span class="title">Weight:</span> <span class="value">199.5lbs</span>
		</div>
		<div class="col-xs-6">
			<span class="title">Rarity:</span> <span class="value">None</span>
		</div>
	</div>
</div>

<div id="evolutions-section-container" class="container">
	<div id="evol-row" class="row">
		Evolutions
	</div>

	<div id="evolutions" class="row">

	</div>
</div>