<header id="app-header">
  <span id="header-search"><a href="#/"<button class="btn btn-default"><i class="glyphicon glyphicon-align-justify"></i></button></a></span>

  <span id="header-title">{{pokemonData.name}}</span>

</header>

<div id="poke-nav-pills" class="row">
  <ul class="nav nav-pills">
    <li class="active small-pill first-pill"><a>Bio</a></li>
    <li class="big-pill"><a>Moves</a></li>
    <li class="big-pill"><a>Location</a></li>
    <li class="small-pill"><a>Stats</a></li>
  </ul>
</div>

<div id="pokemon-info" class="row">
	<div id="pokemon-pic-desc-row"class="row">
		<div id="pokemon-pic" class="col-xs-4">
			<img id="pokemon-img" src="{{'http://pokeapi.co' + pokemonSprite.image}}">
		</div>
		<div id="pokemon-desc" class="col-xs-8">
			{{pokemonDesc.description}}
		</div>
	</div>

	<div id="pokemon-extras" class="row">
		<div class="col-xs-3">
			<span class="title">ID</span>
			<span class="value">{{pokemonData.pkdx_id}}</span>
		</div>
		<div class="col-xs-3">
			<span class="title">HP</span>
			<span class="value">{{pokemonData.hp}}</span>
		</div>
		<div class="col-xs-3">
			<span class="title">ATTK</span>
			<span class="value">{{pokemonData.attack}}</span>
		</div>
		<div class="col-xs-3">
			<span class="title">DEF</span>
			<span class="value">{{pokemonData.defense}}</span>
		</div>
	</div>

	<div class="pokemon-misc row">
		<div class="col-xs-6">
			<span class="title">Height:</span> <span class="value">{{pokemonData.height}}'</span>
		</div>
		<div class="col-xs-6">
			<span class="title">Type:</span> <span class="value">{{pokemonType}}</span>
		</div>
	</div>

	<div class="pokemon-misc row">
		<div class="col-xs-6">
			<span class="title">Weight:</span> <span class="value">{{pokemonData.weight}}lbs</span>
		</div>
		<div class="col-xs-6">
			<span class="title">Catch Rate:</span> <span class="value">{{pokemonData.catch_rate}}</span>
		</div>
	</div>
</div>

<div id="evolutions-section-container" class="container">
	<div id="evol-row" class="row">
		Evolutions
	</div>

	<div id="evolutions" class="row">
		<img id="pokemonSelfEvo" src="{{'http://pokeapi.co' + pokemonSprite.image}}">
		<div class="container levelLabelCont">
			<span class="levelLabel">LVL</span>
			<span class="level">{{levelUp}}</span>
		</div>
		<img id="pokemonEvo" src="{{'http://pokeapi.co' + pokemonEvoSprite.image}}">
	</div>
</div>